<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about">
    <hr>
    <br>
    <div class="container">
      <div class="left" data-aos="fade-down-right">
        <span class="title">About Invincibles Studio</span>
        <p>Invincibles Studio is an established, innovative games development studio based in the North West of England. The studio has been producing high quality football games since 2004.

          The studio is headed up by CEO Chris Gore, who has an expert board behind him, including gaming veteran and former CEO of Codemasters, Nick Wheelwright as Executive chairman.'.</p>
      </div>
      <div class="right" data-aos="fade-down-left">
        <span class="title">Contact</span>
        <div class="contact">
          <div class="left">
            <span>Twitter</span>
            <span>Instagram</span>
          </div>
          <div class="right">
            <a href="https://x.com/InvncblsGames">twitter.com/InvncblsGames</a>
            <a href="https://www.instagram.com/invinciblesgames/">instagram.com/invinciblesgames
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>